#root {
    height: 100%;
}
.row {
    height: 100%;
}
.login-page {
    background-color: red;
}
.card {
    background-color: transparent !important;
}
.login-form {
  // width: 60vh;
  margin: 10px;
  margin-top: 10%;
  padding: 20px 15px 0px 15px !important;
}
.login-form-forgot {
  float: right;
}
 .ant-col-rtl .login-form-forgot {
  float: left;
}
 .login-form-button {
  width: 50%;
} 
.ant-form-item-control-input-content {
  text-align: center;
}
.ant-form-item:last-child {
    margin-bottom: 10px;
}
.login-btn {
    margin-bottom: 10px!important;
}
